 <form action="{{action}}" id="form_transaction" class="form-horizontal">
  <input type="hidden" id="sessionId" name="sessionId" value="{{ sessionId }}" />
</form>
<div class="buttons">
  <div class="pull-right">
	<input type="submit" value="{{ button_confirm }}" form="form_transaction" data-loading-text="{{ text_loading }}" class="btn btn-primary" />
  </div>
</div>

